body {    
    margin: 0 !important;
    padding: 0 !important;
}

.kind {
    background-color: red; 
    float: left;
    width: 50%;
    z-index: 0;
}
.cabrio {
    background-color: green;
    float: right;
    width: 50%;
    z-index: 0;
}

.kind img, .cabrio img {
    width: 100%;
}
.kind img:hover, .cabrio img:hover {
    opacity:0.8;
    cursor: hand;
}

.overlay { 
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}
#fout {
    background-color: rgb(200,20,20);
    background-color: rgba(200,20,20, 0.7);
}
#goed {
    background-color: rgb(50,200,80);
    background-color: rgba(50,200,80, 0.7);
}

.overlay-content {
    font-family: helvetica, sans-serif;
    font-size: 25px;
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}